.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-hide {
    display: none;
}

.control-buttons {
    width: 100px;
    border-radius: 15px;
}

#stop-btn {
    background-color: magenta;
}

#continue-btn {

}
